<% layout("/layouts/boilerplate.ejs") %>

    <h3> Listing Details </h3>
    <ul>
        <li>Title: <%= listing.title %></li>
        <li>Description: <%= listing.description %></li>
        <li>Price: &#8377;<%= listing.price.toLocaleString("en-IN") %></li>
        <li>Location: <%= listing.location %></li>
        <li>Country: <%= listing.country %></li>
    </ul>
    <br>
    <form method="GET" action="/listings/<%= listing._id %>/edit"> <button>Edit</button> </form>
    <br>
    <form method="POST" action="/listings/<%= listing._id %>/?_method=DELETE"> <button>Delete</button> </form>
